







sub,
sup {
  line-height: 1;
}
.skipToMainContentLink {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 24px;
  line-height: 1.2rem;
  font-family: var(--satoshi);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.2rem;
  position: absolute;
  left: 50%;
  padding: 0.8rem;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
  border: 2px solid #777;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  z-index: 200;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

.skipToMainContentLink,
.skipToMainContentLink:active,
.skipToMainContentLink:focus-visible,
.skipToMainContentLink:hover,
.skipToMainContentLink:visited {
  color: #777;
  text-decoration: none;
}
.skipToMainContentLink:focus-visible {
  transform: translate(-50%);
  -webkit-clip-path: none;
  clip-path: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}


.customSelect {
  position: relative;
}
.customSelect:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  border-top: 0.4rem solid #777;
  border-right: 0.3rem solid rgba(0, 0, 0, 0);
  border-left: 0.3rem solid rgba(0, 0, 0, 0);
  content: "";
  pointer-events: none;
}
.customSelect select {
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
